body {
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
    font-family: Georgia, sans-serif;
}

#menu {
    margin: 10px;
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
}

#sizeControls {
    margin-inline: 30px;
}

#rowsInput, #colsInput {
    width: 45px;
    margin-right: 10px;
}

